<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="vecino" translate="label" sortOrder="10">
            <label>Vecino</label>
        </tab>
        <section id="checkcartquantity" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Check Cart Quantity</label>
            <tab>vecino</tab>
            <resource>Vecino_CheckCartQuantity::checkcartquantity_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="multiplier" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Multiplier</label>
                </field>
                <field id="excluded_cats" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Excluded categories</label>
                    <comment>Enter category ID's to exclude from the multiplier rule (comma separated)</comment>
                </field>
                <field id="display_text" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Warning Text</label>
                    <comment>This text will show as error message, when conditions are not met. Use % for introduction of multiplier value.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
